<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notificationutils">
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <receiver
            android:name="com.example.notificationutils.DismissNotificationReceiver"
            android:exported="false" >
        </receiver>
        <activity android:name=".SPCBridge"
            android:exported="true"
            android:screenOrientation="portrait"
            android:turnScreenOn="true"
            android:showWhenLocked="true"
            android:showOnLockScreen="true"
            />
        <meta-data
            android:name="com.google.firebase.messagin g.default_notification_icon"
            android:resource="@drawable/icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->

    </application>

</manifest>