<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notificationutils">
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <receiver
            android:name="com.example.notificationutils.DismissNotificationReceiver"
            android:exported="false" >
        </receiver>
        <activity android:name=".SPCBridge"
            android:exported="true"
            android:screenOrientation="portrait"
            android:turnScreenOn="true"
            android:showWhenLocked="true"
            />
    </application>

</manifest>